<section class="crear-actividad">
    <h1>crear actividad de proyecto</h1>
    <label for="">nombre actividad:</label>
    <input type="text" autocomplete="off" required>
    <label for="">fase</label>
    <select>
        <option>Seleccione</option>
        <option value="">analisis</option>
        <option value="">ejecucuion</option>
    </select>
    <label for="">programa:</label>
    <select>
        <option>Seleccione</option>
        <option value="">Programacion de softguare</option>
        <option value="">llavaescrit</option>
    </select>
    <button>guardar</button>
</section>