<section class="crear-ambiente">
    <h1>crear ambiente</h1>
    <label for="">nombre:</label>
    <input type="text" autocomplete="off" required>
    <label for="">piso:</label>
    <input type="number" autocomplete="off" required min="1" max="5">
    <label for="">capacidad:</label>
    <input type="number" autocomplete="off" required min="1" max="50">
    <label for="">torre</label>
    <select>
        <option>Seleccione</option>
        <option value="">oriental</option>
        <option value="">occidental</option>
    </select>
    <label for="">tipo de ambiente</label>
    <select>
        <option>Seleccione</option>
        <option value="">Computancion</option>
        <option value="">Laboratorio</option>
    </select>
    <button>guardar</button>
</section>