<section class="crear-competencia">
    <h1>crear competencia</h1>
    <label for="">id competencia:</label>
    <input type="text" autocomplete="off" required>
    <label for="">nombre</label>
    <textarea name="" cols="30" rows="10"></textarea>
    <label for="">ambiente requerido</label>
    <select>
        <option>Seleccione</option>
        <option value="">Computancion</option>
        <option value="">Laboratorio</option>
    </select>
    <label for="">programas disponibles:</label>
    <table>
        <tr>
            <th>id</th>
            <th>programa 1</th>
            <th><a href="">ver descripcion</a></th>
            <th><button>seleccionar</button></th>
        </tr>
    </table>
    <button>guardar</button>
</section>