<section class="modificar-competencia">
    <p>Buscar competencia</p>
    <input type="text" autocomplete="off" required>
    <button>mostrar todo</button>
    <button>buscar</button>
    <label>Programa:</label>
    <select>
        <option>Seleccione</option>
        <option value="">tecnico en sistemas</option>
        <option value="">analisis y desarrollo de su abuela</option>
    </select>
    <table>
        <tr>
            <th>id</th>
            <th>nombre competencia</th>
            <th>programa</th>
            <th><button>seleccionar</button></th>
            <th><button>eliminar</button></th>
        </tr>
    </table>
    <h1>modificar competencia</h1>
    <label for="">id competencia:</label>
    <input type="text">
    <label for="">nombre</label>
    <textarea name="" id="" cols="30" rows="10"></textarea>
    <label for="">ambiente requerido</label>
    <select>
        <option>Seleccione</option>
        <option value="">Computancion</option>
        <option value="">Laboratorio</option>
    </select>
    <label for="">programas disponibles:</label>
    <table>
        <tr>
            <th>id</th>
            <th>programa 1</th>
            <th><a href="">ver descripcion</a></th>
            <th><button>seleccionar</button></th>
        </tr>
    </table>
    <button>guardar</button>
</section>