<section class="modificar-evento">
    <div class="modificar-evetos-main">
        <h1>Buscar Eventos</h1>
        <label for="">Programa:</label>
        <select name="">
            <option>Seleccione</option>
            <option value="">1</option>
            <option value="">2</option>
        </select>
        <label for="">Ficha:</label>
        <select name="">
            <option>Seleccione</option>
            <option value="">1</option>
            <option value="">2</option>
        </select>
        <table>
            <tr>
                <th>id</th>
                <th>Programa</th>
                <th>Ficha</th>
                <th>Trimestre</th>
                <th>Competencia</th>
                <th>Resultado</th>
                <th>Dia</th>
                <th>Jornada</th>
                <th>hora inicio</th>
                <th>hora fin</th>
                <th>Actividad de Proyecto</th>
                <th>instructor</th>
                <th>Torre</th>
                <th>ambiente</th>
                <th>Actividad</th>
            </tr>
        </table>
    </div>
</section>