<section class="modificar-ficha">
    <p>Buscar Ficha</p>
    <input type="text">
    <button>mostrar todo</button>
    <button>buscar</button>
    <label>Programa:</label>
    <select>
        <option>Seleccione</option>
        <option value="">tecnico en sistemas</option>
        <option value="">analisis y desarrollo de su abuela</option>
    </select>
    <table>
        <tr>
            <th>id</th>
            <th>trimestre en curso</th>
            <th>programa</th>
            <th><button>seleccionar</button></th>
            <th><button>eliminar</button></th>
        </tr>
    </table>
    <h1>Modificar ficha</h1>
    <label for="">id ficha:</label>
    <input type="text" name="" required autocomplete="off">
    <label for="">programa:</label>
    <select>
        <option>Seleccione</option>
        <option value="tecnico">Tecnico</option>
        <option value="tecnologo">Tecnologo</option>
    </select>
    <label for="">fecha de inicio:</label>
    <input type="date" value="2020-01-01" min="2020-01-01" max="2099-12-12">
    <label for="">fecha fin:</label>
    <input type="date" value="2020-01-01" min="2020-01-01" max="2099-12-12">
    <label for="">aprendices:</label>
    <input type="number" min="0" maxlength="99" name="" autocomplete="off" required>
    <label for="">Actividad de proyecto:</label>
    <table>
        <tr>
            <th>Actividad 1</th>
            <th>fase</th>
            <th><button>seleccionar</button></th>
        </tr>
    </table>
    <button>guardar</button>
</section>