<section class="crear-rap">
    <h1>crear resultado de aprendizaje</h1>
    <label for="">id rap:</label>
    <input type="text" autocomplete="off" required>
    <label for="">nombre</label>
    <textarea name="" id="" cols="30" rows="10"></textarea>
    <label for="">filtrar por programa:</label>
    <select>
        <option>Seleccione</option>
        <option value="">Tecnicon en reparacion de abejas</option>
        <option value="">Tecnologo en castracion de ballenas</option>
    </select>
    <label for="">competencia a las que aplica:</label>
    <table>
        <tr>
            <th>id</th>
            <th>nombre competencia</th>
            <th>programa</th>
            <th><input type="checkbox"></th>
        </tr>
    </table>
    <label for="">trimestres a los que aplica:</label>
    <table>
        <tr>
            <th>trimestre 1</th>
            <th><input type="checkbox"></th>
        </tr>
    </table>
    <button>guardar</button>
</section>