<section class="modificar-rap">
    <p>Buscar resultado de aprendizaje</p>
    <input type="text">
    <button>mostrar todo</button>
    <button>buscar</button>
    <label>Programa:</label>
    <select>
        <option>Seleccione</option>
        <option value="">tecnico en sistemas</option>
        <option value="">analisis y desarrollo de su abuela</option>
    </select>
    <table>
        <tr>
            <th>id</th>
            <th>trimestre en curso</th>
            <th>programa</th>
            <th><button>seleccionar</button></th>
            <th><button>eliminar</button></th>
        </tr>
    </table>
    <<h1>modificar resultado de aprendizaje</h1>
        <label for="">id rap:</label>
        <input type="text" autocomplete="off" required>
        <label for="">nombre</label>
        <textarea name="" id="" cols="30" rows="10"></textarea>
        <label for="">filtrar por programa:</label>
        <select>
            <option>Seleccione</option>
            <option value="">Tecnicon en reparacion de abejas</option>
            <option value="">Tecnologo en castracion de ballenas</option>
        </select>
        <label for="">competencia a las que aplica:</label>
        <table>
            <tr>
                <th>id</th>
                <th>nombre competencia</th>
                <th>programa</th>
                <th><input type="checkbox"></th>
            </tr>
        </table>
        <label for="">trimestres a los que aplica:</label>
        <table>
            <tr>
                <th>trimestre 1</th>
                <th><input type="checkbox"></th>
            </tr>
        </table>
        <button>guardar</button>
</section>