<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LinaPlus</title>
    <link href="https://fonts.googleapis.com/css?family=Jost&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{style}}">
    <link rel="stylesheet" href="/css/headerFooterPartial.css">
    <link rel="stylesheet" href="/css/eventos.css">
    <link rel="stylesheet" href="/css/elementos.css">
</head>

<body>

    {{{ body }}}

    <script src="{{script}}"></script>

</body>

</html>