{{>headerPartial}}

<div class="administrar-eventos">
    <a href="/admin" class="back-icon"><img src="/icon/back-icon.svg"></a>
    <div class="botones-administrar-eventos">
        <button>Crear Evento</button>
        <button>Modificar Evento</button>
    </div>
</div>
<div class="eventos-cont">
    {{>eventoCrear}}
    {{>eventoModificar}}
    <div class="mensaje-administrar-eventos">
        <h1>Administrar Eventos</h1>
        <p>Seleccione una opcion para continuar</p>
    </div>
</div>